body {
  background-color: #3498db;
  font-family: arial;
  padding: 10%;
}

form, #box, #output {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.5em;
}

button, #subBttn {
  padding: 1em;
  border: none;
  background-color: #89cff0;
  color: #fff;
  font-weight: 100;
  border-radius: 0.5em;
}

button:hover, #subBttn:hover {
  color: #2980b9;
  background-color: #2c3e50;
}
