<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post Price</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1>Confirmation</h1>
    <div id="box">
      <p>Your <%= mailType %> weighing <%= mailWeight %> oz. will cost
        $<%= price %></p>
    </div>
    <div>
    </div>
  </body>
</html>
